/node_modules/
/npm-debug.log
/yarn-error.log
/coverage/
.DS_Store
.doc/
.umi/
src/.umi/*
.umi-production/

# build
/dist/
/lib/
/es/
/cjs/
/umd/
/build/

# dumi assets meta data
/assets.json

/.vscode/
/.idea/

# yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

*.swp
.DS_Store
.idea
npm-debug.log
src/.umi/.cache/
report.html